<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="icon-title">
    <mat-card-title class="m-b-0 title">
      <mat-icon class="icon">search</mat-icon><span>Filtros de Búsqueda</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <form>
      <div class="row" *ngIf="autorizado === false">

        <div class="col-md-10">
          <div class="row">
            <div class="col-sm-7">
              <app-select-lineas (selectedValue)="onSelectionChange($event)"></app-select-lineas>
            </div>
          </div>



          <div class="row">

            <div class="col-sm-4">
              <mat-selection-list [multiple]="false" class="radio-horizontal">
                <mat-list-option togglePosition="before" class="parte">
                  Inventario Físico
                </mat-list-option>
                <mat-list-option togglePosition="before" class="parte2">
                  Inventario Disponible
                </mat-list-option>
              </mat-selection-list>
            </div>

            <div class="col-sm-4">
              <app-fecha-inventario></app-fecha-inventario>
            </div>

            <div class="col-sm-4">
              <app-tipo-inventario></app-tipo-inventario>
            </div>

          </div>

        </div>

        <div class="col-md-2">
          <div class="row">
            <div class="col-sm-10">
              <div class="buttons">
                <button mat-flat-button color="warn" (click)="buscarExistencias()">
                  <!--(click)="buscarLocales()"-->
                  Buscar
                </button>
                <button mat-flat-button color="accent" class="m-t-8">
                  Limpiar
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!--
        <div class="col-sm-12 m-2">
              <p-radioButton
                name="inventario"
                value="fisico"
                [(ngModel)]="inventario"
                inputId="inventario1"></p-radioButton>
              <label for="inventario1">Inventario Físico</label>
            </div>

            <div class="col-sm-12 mt-4">
              <p-radioButton
                name="inventario"
                value="disponible"
                [(ngModel)]="inventario"
                inputId="inventario2"></p-radioButton>
              <label for="inventario2" class="ml-3"
                >Inventario Disponible</label
              >
            </div>
      -->

    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="icon-title">
    <mat-card-title class="m-b-0 title">
      <div class="row justify-content-around">
        <div class="col">
          <p>Registros</p>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <p-table *ngIf="vistaTabla" #dt2 [value]="listaPreciosExistenciaFiltrados" dataKey="id" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="vistaAtabla[1]" [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of vistaAtabla[0]">{{ header }}</th>
        <th style="width: 1%" *ngFor="let local of locales">
          LOCAL {{ local }}
        </th>
      </tr>
      <tr>
        <th *ngFor="let labelF of vistaAtabla[1]">
          <p-columnFilter type="text" [field]="labelF"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-existencia>
      <tr>
        <td *ngFor="let labelP of vistaAtabla[1]"> {{ existencia[labelP] }}</td>
        <td *ngFor="let local of locales">
          <div *ngIf="existencia[local] === null">-</div>
          <div>{{ existencia[local] }}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No existen registros.</td>
      </tr>
    </ng-template>
  </p-table>
</mat-card>
<style>
  ::ng-deep .p-column-filter-row .p-column-filter-menu-button,
  .p-column-filter-row .p-column-filter-clear-button {
    display: none;
  }

  ::ng-deep .p-column-filter-clear-button {
    display: none !important;
  }
</style>