<div class="row">
    <div class="col-sm-12">
        <mat-card class="cardWithShadow theme-card">
            <mat-card-header class="icon-title">
                <mat-card-title class="m-b-0 title">
                    <mat-icon class="icon">search</mat-icon><span>Filtros de Búsqueda</span>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="b-t-1">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">

                                <div class="col-sm-6 filter">
                                    <mat-selection-list #nivel [multiple]="false">
                                        <mat-list-option [value]="typesOfNivel[0]"> Establecimientos a nivel
                                            Nacional
                                        </mat-list-option>

                                        <mat-list-option [value]="typesOfNivel[1]"> Establecimientos a nivel de Zona
                                        </mat-list-option>
                                        <!--Si la mat-list-option de arriba esta seleccionada, debe habilitarse lo q esta en div class="separator"-->
                                        <div class="separator">
                                            <app-select-zona></app-select-zona>
                                        </div>

                                        <mat-list-option [value]="typesOfNivel[2]"> Establecimientos a nivel Local
                                        </mat-list-option>
                                        <!--Si la mat-list-option de arriba esta seleccionada, debe habilitarse lo q esta en div class="separator"-->
                                        <div class="separator">
                                            <app-select-locales></app-select-locales>
                                        </div>

                                    </mat-selection-list>

                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="col-sm-6 filter">
                                <app-filtro-fecha></app-filtro-fecha>

                            </div>
                        </div>

                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>