@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
}

.filtro-fecha {
    display: flex;
    gap: 10px;
    width: 100%;
}

.busqueda-fecha {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.input-text1{
    text-align: center;
}



