@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
}

.busqueda-fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
}

.input-text1{
    //font-size: 0.9rem;
    padding: 0.5rem 3rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

