<div class="codigo-art">
    <div class="busqueda-codigo">
        <mat-card-title>Desde:</mat-card-title>
        <input #codigoDesdeInput pInputText pKeyFilter="int" id="consolidadoDesde" [disabled]="disabled"
            (input)="onInputChange()" class="input-text1" />
        <p-button icon="pi pi-search-plus" styleClass="p-button-warning"></p-button>
        <input pInputText placeholder="" type="text" class="input-text2" />
    </div>


    <div class="busqueda-codigo">
        <mat-card-title>Hasta: &nbsp;</mat-card-title>
        <input #codigoHastaInput pInputText pKeyFilter="int" id="consolidadoHasta" [disabled]="disabled"
            (input)="onInputChange()" class="input-text1" />
        <p-button icon="pi pi-search-plus" styleClass="p-button-warning"></p-button>
        <input pInputText placeholder="" type="text" class="input-text2" />
    </div>

</div>