<legend class="col-form-label col-sm-2 pt-0">Locales</legend>
<input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="opt1" name="Locales" aria-label="..." />
<label class="form-check-label" >Opcion 1</label>