.lista-container {
    height: 200px; /* Establece la altura deseada */
    overflow: auto; /* Añade scroll cuando sea necesario */
}

.mat-list-option {
    font-size: 10px; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  