<mat-card class="cardWithShadow theme-card">
    <p-table [value]="SaldosInventario" sortField="representative.name" sortMode="single" [scrollable]="true"
        scrollHeight="400px" rowGroupMode="subheader" groupRowsBy="localId" [tableStyle]="{'min-width': '60rem'}">s
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Articulo</th>
                <th>Pais Origen</th>
                <th>Presentación</th>
                <th>Saldo</th>
                <th>Reservado</th>
                <th>Disponible</th>
                <th>Costo Unit.</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Unidad</th>
                <th>Dias</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-SaldosInventario>
            <tr pRowGroupHeader>
                <td colspan="5">
                    <span class="font-bold ml-2">{{SaldosInventario.localNombre}}</span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-SaldosInventarioSeparadoLocal let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{ SaldosInventarioSeparadoLocal.itemId }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.itemNombre }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.paisNombre }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.unidadMedidaNombre }}
                </td>
                <td>
                    {{SaldosInventarioSeparadoLocal.saldo}}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.reservado }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.disponible }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.costoUnitario }}
                </td>
                <td *ngIf="!permisoCostoUnitario">
                    No autorizado
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.ventasCantidad }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.ventasCantidad * SaldosInventarioSeparadoLocal.costoUnitario | number: '.2' }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.unidadMedidaConversion }}
                </td>
                <td>
                    {{ SaldosInventarioSeparadoLocal.dias }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No existen registros.</td>
            </tr>
        </ng-template>
    </p-table>

</mat-card>