<mat-card class="cardWithShadow theme-card">
    <mat-card-content>
        <div class="table-responsive">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Articulo</th>
                        <th>Pais Origen</th>
                        <th>Presentación</th>
                        <th>Saldo</th>
                        <th>Reservado</th>
                        <th>Disponible</th>
                        <th>Costo Unit.</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Unidad</th>
                        <th>Dias</th>
                    </tr>
                </thead>
                <tbody class="tabla_Cab">
                    <!--<tr>Local 1</tr>--> 
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <td>vcc</td>
                    <!--<tr>Local 1</tr>--> 
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>