<div class="row">
  <div class="col-sm-12">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header class="icon-title">
        <mat-card-title class="m-b-0 title">
          <mat-icon class="icon">search</mat-icon><span>Filtros de Búsqueda</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="b-t-1">
        <form>
          <div class="row">
            <div class="col-md-7">
              <div class="row">

                <div class="col-sm-4">
                  <mat-card-title>Nivel</mat-card-title>
                  <mat-selection-list #nivel [multiple]="false">
                    <mat-list-option [value]="typesOfNivel[0]" [disabled]="!opcionesNivel[0]"
                      (click)="handleNivelSeleccionado()">Nacional</mat-list-option>
                    <mat-list-option [value]="typesOfNivel[1]" [disabled]="!opcionesNivel[1]"
                      (click)="handleNivelSeleccionado()">Zona</mat-list-option>
                    <mat-list-option [value]="typesOfNivel[2]" [disabled]="!opcionesNivel[2] || !opcionesNivel[3]"
                      (click)="handleNivelSeleccionado()">Local</mat-list-option>
                  </mat-selection-list>
                </div>

                <div class="col-sm-4">
                  <mat-card-title> Zonas </mat-card-title>
                  <mat-card class="b-1 shadow-none">        
                      <mat-selection-list #zon [disabled]="!zonaSelected" [multiple]="false">
                        <mat-list-option *ngFor="let zon of zona" [value]="zon" (click)="onZonaSeleccionada(zon)">
                          {{ zon }}
                        </mat-list-option>
                      </mat-selection-list>
                  </mat-card>
                </div>

                <div class="col-sm-4">
                  <mat-card-title>Presentación</mat-card-title>
                  <mat-selection-list #present [multiple]="false">
                    <mat-list-option *ngFor="let pr of presentacion" [value]="presentacion">
                      {{ pr }}
                    </mat-list-option>
                  </mat-selection-list>
                </div>

                <div class="col-sm-12 style2">
                  <mat-selection-list #lineArt [multiple]="false" class="radio-horizontal">
                    <mat-list-option *ngFor="let linArt of lineArticulo" [value]="linArt"
                      (click)="filtraArticulos(linArt)">
                      {{ linArt }}
                    </mat-list-option>
                  </mat-selection-list>
                </div>

                <div class="col-sm-12">
                  <div class="codigo-articulo">
                      <app-codigo-articulo [disabled]="!mostrarFiltroCodigo" (codigosEscogidos)="handleCodigosElegidos($event)"
                [lineasDisponibles]="lineasDisponibles"></app-codigo-articulo>
                  </div>
                  
                </div>

              </div>
            </div>


            <div class="col-md-5">
              <div class="row">

                <div class="col-sm-6">
                  <app-lista-lineas (lineasSeleccionadas)="handleLineasSeleccionadas($event)"
                    [lineasDisponibles]="lineasDisponibles" [disabled]="!mostrarListaLineas">
                  </app-lista-lineas>
                </div>

                <div class="col-sm-6">
                  <app-lista-locales #localesElegidos (localesSeleccionados)="handleLocalesSeleccionados($event)"
                    [localesDisponibles]="localesDisponibles" [NivelLocal]="NivelLocal">
                  </app-lista-locales>
                </div>

              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-sm-12 style-buscar">
              <div class="buttons">
                <button mat-flat-button color="warn" class="m-t-8" (click)="imprimirTabla()">
                  Buscar
                </button>
                <button mat-flat-button color="accent" class="m-t-8" (click)="limpiar()">
                  Limpiar
                </button>
              </div>

            </div>

          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <app-tablas *ngIf="buscarClicked" [localesMostrar]="localesSeleccionados" [lineasMostrar]="lineasSeleccionadas"
    [permisoCostoUnitario]="permisoCostoUnitario" [fechaInicio]="fechaInicio" [fechaFin]="fechaFin" [codigosVisualizar]="mostrarFiltroCodigo" [lineasVisualizar]="mostrarListaLineas"
    [codigosEscogidos]="codigosElegidos" [lineasDisponibles]="lineasDisponibles">
    </app-tablas>
  </div>
</div>