/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: black;
    transition: all 0.3s;
    background-color: white;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-header {
    padding: 50px 50px 0px 50px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #faac36;
}

.div1, .div2 {
  /* Estilos para los divs */
  padding: 0 0 10px 0;
  border: 1px solid white;
}


#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid #faac36;
    
}

#sidebar ul p {
    color: black;
    padding: 10px;
    font-size: 1.1em;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-left: 20px;
}

#sidebar ul li a:hover {
    color: white;
    background:  #faac36;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background:  #faac36;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    
}

.logo{
  width: 70%;
}

.sidebarhorizontal {
  background-color: white;
  padding: 20px;
  display: flex;
  align-content: flex-end;
}

.search {
  padding: 20px;
  border-radius: 60px;
}

.title {
  padding: 20px;
  background-color: #faac36;
  font-size: 1.1em;
  color: white;
  border-radius: 5px 5px 0 0;
}

.filter {
  padding: 20px;
  background-color: white;
  display: flex;
}

.registers{
  padding: 20px;
  background-color: white;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.form_busqueda{
    display: flex;
    align-items: flex-start;
}

.scrollable-list {
    height: 200px; /* Establece la altura deseada */
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
  }
  
  .scrollable-content {
    padding-right: 15px; /* Añade un espacio para el desplazamiento vertical */
  }