<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <legend class="col-form-label col-sm-4 pt-0">Tipo de nivel</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Nacional
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Zona
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
          <label class="form-check-label" for="gridRadios3">
            Local
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <legend class="col-form-label col-sm-2 pt-0">Lineas</legend>
      <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
      <label class="form-check-label" for="inlineCheckbox1">Opcion 1</label>
    </div>

    <div class="col-sm-4">
      <legend class="col-form-label col-sm-2 pt-0">Locales</legend>
      <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
      <label class="form-check-label" for="inlineCheckbox1">Opcion 1</label>
    </div>
  </div>
</div>

