<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <div class="div1">
            <img class="logo" src="/resources/saia-logo.png"> 
          </div>
          <div class="div2">  
            <h4>Inventario</h4>
          </div> 
      </div>
      
      <ul class="list-unstyled components">
          <p>Menú Principal</p>
          
          <li class="active">
            <a href="#">Saldo de inventario</a>
          </li>
          <li>
              <a href="#">Lista de precios y exitencias</a>
          </li>
          <li>
            <a href="#">Kardex de mercadería</a>
          </li>
          <li>
              <a href="#">Guías de remisión</a>
          </li>
          <li>
              <a href="#">Orden de despacho</a>
          </li>
          <li>
            <a href="#">Componntes electrónicos</a>
          </li>
          <li>
          <a href="#">Listado de factura entregas pendientes</a>
          </li>
      </ul>

  </nav>

  <!-- Page Content  -->

  
  <div id="content">
    <div class="sidebarhorizontal">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        
    </div>

      <div class="search">
        <div class="title">
          Filtros de búsqueda
        </div>
        <div class="filter">
          <%- include("search") -%>
        </div>
      </div>
  
  </div>
</div>